{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>About This Project</h2>
    <p>The IoT Device Security Scanner helps identify and secure smart devices by finding open network ports.</p>

    <h3>Connect with Us</h3>
    <ul>
        <li>Email: <a href="mailto:ashutoshkaushal2004@gmail.com">ashutoshkaushal2004@gmail.com</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/kaushalashutosh" target="_blank">kaushalashutosh</a></li>
        <li>GitHub: <a href="https://github.com/kaushalashutosh" target="_blank">kaushalashutosh</a></li>
    </ul>
</div>
{% endblock %}